body{
    font-family: Arial, sans-serif;
    background-color: #eaf7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
}

h1{
    color: #0077b6;
}

input, select{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    width: 100%;
    padding: 12px;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: #005f8f;
}

#result{
    margin-top: 20px;
    color: green;
}